<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> <b>of tour</b><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :time %> <b> and date of requested tour</b><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :price %> <b>you would be willing to pay</b><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :extra %><b> requests</b><br>
    <i><small>Audio guides or different languages etc.</small></i><br>
    <%= f.text_area :extra %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
